@import "variables";

.nav
{
    background-image: var(--bg-color);
    font-family: $secondary-font;
    padding: $pad;
    border-radius: 0px 0px $border-rad $border-rad;
    height: 10vh;
    .main
    {
        margin: 0px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        display: flex;
    }
    li
    {
        margin: 0px;
        list-style: none;
    }
    a
    {
        text-decoration: none;
        color: var(--text-color);
    } 
    .burger div{
        width: 45px;
        height: 5px;
        background-color: var(--text-color);
        margin: 5px;
        transition: transform 0.3s ease;
        border-radius: 50px;
    }
    
}
nav:nth-child(3) {
    transition: all 0.5s ease;
}

.burger {
    margin: 10px;
    cursor: pointer;
    display: none;
    z-index: 3;
}

@media screen and(max-width: 768px) {

        .nav ul {
            position: absolute;
            height: 150%;
            margin: 10vh 5vh 5vh 4vh;
            background-color: var(--main-color);
            width: 80%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;
            z-index: 1;
            transition: all 0.5s ease;
            border-radius: 30px 30px 30px 30px;
        }
     
        .burger {
            display: block;
            
        }

        .list {
            display: none;
            
        }
}


.burgeron .line1 {
    transform: rotate(45deg) translate(8px, 6px);
}

.burgeron .line2 {
    opacity: 0;
}

.burgeron .line3 {
    transform: rotate(-45deg) translate(8px, -6px);
}