@import "variables";

.naglowek{
    
    padding: $pad;
    font-size: 200%;
    font-family: $primary-font;
}
Iframe{
    margin: 1%;
    border: 0;
}
.kim{
background-color: cornflowerblue;  //????????????????????????????
}
.text{
    
    padding: $pad;
    font-size: 130%;
    font-family: $title-font;
}