@import "variables";

.main
{
    padding: 5px;
    i
    {
        color: var(--bg-color);
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
        text-align: center;
        width: 1rem;
        height: 1rem;
    }
    border: 2px solid var(--bg-color);
    border-radius: 999999px;
}