@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
// transition time
$time: 0.5s;

// border
$border-rad: 15px;

// fonts
$title-font: 'Oswald', sans-serif;
$primary-font: 'Ubuntu Condensed', sans-serif;
$secondary-font: 'Courgette', cursive;

// padding
$pad: 3vmin;